In [3]:
import pandas as pd

In [37]:
book_df = pd.read_csv("amazon_com_extras.csv", encoding='latin1')

In [5]:
df = pd.read_feather("100k_kindle_reviews_lemmatized.feather")

In [6]:
book_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63748 entries, 0 to 63747
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   asin       63748 non-null  object
 1   group      63748 non-null  object
 2   format     63747 non-null  object
 3   title      63747 non-null  object
 4   author     63661 non-null  object
 5   publisher  57263 non-null  object
dtypes: object(6)
memory usage: 2.9+ MB

In [7]:
book_df.head()

,asin,group,format,title,author,publisher
0,1250150183,book,hardcover,The Swamp: Washington's Murky Pool of Corrupti...,Eric Bolling,St. Martin's Press
1,778319997,book,hardcover,"Rise and Shine, Benedict Stone: A Novel",Phaedra Patrick,Park Row Books
2,1608322564,book,hardcover,Sell or Be Sold: How to Get Your Way in Busine...,Grant Cardone,Greenleaf Book Group Press
3,310325331,book,hardcover,Christian Apologetics: An Anthology of Primary...,"Khaldoun A. Sweis, Chad V. Meister",Zondervan
4,312616295,book,hardcover,Gravity: How the Weakest Force in the Universe...,Brian Clegg,St. Martin's Press

In [8]:
book_df.set_index('asin')

,group,format,title,author,publisher
asin,,,,,
1250150183,book,hardcover,The Swamp: Washington's Murky Pool of Corrupti...,Eric Bolling,St. Martin's Press
778319997,book,hardcover,"Rise and Shine, Benedict Stone: A Novel",Phaedra Patrick,Park Row Books
1608322564,book,hardcover,Sell or Be Sold: How to Get Your Way in Busine...,Grant Cardone,Greenleaf Book Group Press
310325331,book,hardcover,Christian Apologetics: An Anthology of Primary...,"Khaldoun A. Sweis, Chad V. Meister",Zondervan
312616295,book,hardcover,Gravity: How the Weakest Force in the Universe...,Brian Clegg,St. Martin's Press
...,...,...,...,...,...
976986280,book,paperback,From the Coffee House of Jewish Dreamers: Poem...,Isidore Century,Ben Yehuda Press
1626396078,book,paperback,Midnight at the Orpheus,Alyssa Linn Palmer,Bold Strokes Books
3866863411,book,paperback,Portugal Spanien: Via Algarviana,Christiane Heitzmann,"Stein, Conrad Verlag"
425250415,book,paperback,"The Coyote Tracker (Josiah Wolfe, Texas Ranger)",Larry D. Sweazy,Berkley
9734611526,book,paperback,Puls. Manual de limba romana pentru straini. C...,Daniela Kohn,Editura Polirom

In [34]:
df.loc[df["asin"].str.startswith('B00J0F089Y', na=False)]

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,...,CCONJ,PUNCT,AUX,PART,PROPN,NUM,SPACE,INTJ,SYM,X
79835,4,False,"06 25, 2014",A2F9FGNWPJ2LC3,B00J0F089Y,{'Format:': ' Kindle Edition'},Robin Reader,"I loved Milly and Sasha.... The history, setti...",Excellent beginning,1403654400,...,3.0,9.0,5.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN

In [32]:
book_df.loc[book_df["asin"].str.startswith('B00J0', na=False)]

,asin,group,format,title,author,publisher
13127,B00J0F089Y,kindle,kindle edition,Sugarland (Sasha Thibodaux Series Book 1),Ali Spooner,Affinity E-Book Press NZ LTD
23741,B00J0HEAL4,kindle,kindle edition,Just for the Weekend (Crimson Romance),Susanne Matthews,Crimson Romance
25844,B00J0HEAN2,kindle,kindle edition,Wynter's Journey: A Scallop Shores Novel (Crim...,Jennifer DeCuir,Crimson Romance
27237,B00J0I2RNG,kindle,kindle edition,Me and My Hero: No Ordinary Bicycle Journey Th...,Tim Mulliner,NaN
34268,B00J0YW9PG,kindle,kindle edition,"Werewolf Detectives Series Box Set - Books 1, ...","Eve Paludan, Suzanne Wilson",Eve Paludan
38642,B00J0CWFV6,kindle,kindle edition,The Fortune Cafe (A Tangerine Street Romance B...,"Julie Wright, Melanie Jacobson, Heather B. Moore",Mirror Press

In [43]:
joined_df = df.join(book_df.set_index("asin"), on="asin", how="left")

In [46]:
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 37 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   overall           100000 non-null  int64
 1   verified          100000 non-null  bool
 2   reviewTime        100000 non-null  object
 3   reviewerID        100000 non-null  object
 4   asin              100000 non-null  object
 5   style             100000 non-null  object
 6   reviewerName      100000 non-null  object
 7   reviewText        100000 non-null  object
 8   summary           100000 non-null  object
 9   unixReviewTime    100000 non-null  int64
 10  vote              100000 non-null  int32
 11  image             70 non-null      object
 12  processed_review  100000 non-null  object
 13  lemmatized_text   100000 non-null  object
 14  ADV               80797 non-null   float64
 15  VERB              91419 non-null   float64
 16  PRON              86519 non-null   float64
 17  SCONJ             47676 non-null   float64
 18  DET               89456 non-null   float64
 19  ADJ               92077 non-null   float64
 20  NOUN              95062 non-null   float64
 21  ADP               85714 non-null   float64
 22  CCONJ             73120 non-null   float64
 23  PUNCT             93056 non-null   float64
 24  AUX               85053 non-null   float64
 25  PART              72871 non-null   float64
 26  PROPN             50662 non-null   float64
 27  NUM               33704 non-null   float64
 28  SPACE             45473 non-null   float64
 29  INTJ              11475 non-null   float64
 30  SYM               5834 non-null    float64
 31  X                 3738 non-null    float64
 32  group             3342 non-null    object
 33  format            3342 non-null    object
 34  title             3342 non-null    object
 35  author            3342 non-null    object
 36  publisher         2848 non-null    object
dtypes: bool(1), float64(18), int32(1), int64(2), object(15)
memory usage: 27.2+ MB

In [47]:
joined_df.to_feather("100k_kindle_reviews_with_book_data.feather")

In [53]:
df["asin"].nunique()

57182